/*  
seletor {
    propriedade: valor;
}

seletor = tags (h1, h2, p, img, header ...)
propriedade = o que quero fazer?
valor: como quero deixar.

*/

header {

    h2 {
        color: red
    }
    
    h3 {
        color: blue
    }
    
}